* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2d7af6;
    min-height: 100vh;
}

.app {
    background: #f6d7d7;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #013809;
    font-weight: 600;
    border-bottom: 1px solid #f4bcbc;
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fcfbfb;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 0px solid #222;
    padding: 15px;
    margin: 15px 0;
    text-align: left;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
}
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
    border-color: #2ecc71;
}

.incorrect {
    background: #ff9393;
    border-color: #e74c3c;
}
@media (max-width: 480px) {
    .app {
        margin: 50px auto;
        padding: 20px;
    }

    .app h1 {
        font-size: 22px;
    }

    .quiz h2 {
        font-size: 16px;
    }
}
